@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* VARIABLE CSS================================================================================- */
/*-============================================================================================- */
:root{

    /* COLORS=---------------- */
    --primary-color: #123154;
    --accent-color: #B4E1F2;
    --text-color-w: #F5F5F5;
    --text-color-b: #06151D;
    --body-color: #F5F5F5;
    /* ======================= */


    /* FONT & TYPOGRAPHY====== */
    --body-font: 'Montserrat', sans-serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;
    --icon-size-small: 1rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ======================= */


    /* MARGINS & PADDING ===== */
    --mar-sml: .5rem;
    --mar-1: 1rem;
    --mar-2: 1.5rem;
    --mar-3: 2rem;
    --mar-4: 3rem;
    --mar-5: 4rem;
    /* ======================= */


    /* MISC=================== */
    --z-fixed: 15;
    --border-radius: .25rem;
    --header-height: 3rem;
    /* ======================= */

}
/*-============================================================================================- */

/* HTML BASE===================================================================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{ 
    font-family: var(--body-font);
    background-color: var(--body-color);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

p{
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    /* max-width: 100%; */
    height: auto;
}
/*-============================================================================================- */

/* REUSABLE CSS CLASSES========================================================================- */
.container{
    max-width: 968px;
    margin: 0 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.responsive-container{
    display: flex;
    flex-direction: column;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    gap: var(--mar-1);
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding: 8rem 0;
}

.section-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-extra-bold);
}

.section-title span{
    color: var(--accent-color);
}

.description{
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

.section-background-image-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.section-background-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* BUTTONS=---------------- */
.button-fill,
.button-outline{
    position: relative;
    height: 64px;
    width: 216px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.button-fill p,
.button-outline p{
    font-weight: var(--font-semi-bold);
    z-index: 2;
    transition: all .4s ease-in-out;
}

.button-outline{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.button-fill:hover p{
    font-weight: var(--font-bold);
}

.button-outline:hover p{
    font-weight: var(--font-bold);
}
/*-============================================================================================- */

/* HEADER & NAVIGATION=========================================================================- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    padding: 1rem 0;
    width: 100%;
    border-bottom: 2px solid var(--body-color);
}

.navigation{
    padding: 0 2rem;
}

.nav-list{
    display: flex;
    position: relative;
}

.nav-list-item a{
    color: var(--text-color-b);
    font-size: var(--h4-font-size);
    font-weight: var(--font-regular);
}

.nav-list.show-nav{
    right: 0;
}

.nav-toggle-btn{
    color: var(--text-color-b);
}

.nav-toggle-btn.rotate{
    color: var(--text-color-b);
    transform: rotate(0.5turn);
}

.nav-list-item:nth-child(8){
    width: 240px;
    height: 64px;
    background-color: var(--primary-color);
    color: var(--text-color-w);
    display: grid;
    place-items: center;
    margin-top: var(--mar-5);
    border-radius: var(--border-radius);
}

/* ADD BLUR TO HEADER */
.blur-header{
    background-color: #010a0f5a;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px 4px #0e141b20;
    transition: all .4s ease-in-out;
}

.nav-list-item .active-link{
    color: var(--primary-color);
    font-weight: var(--font-bold);
}

.nav-list-item:nth-child(8) .nav-button{
    color: var(--text-color-w);
    font-weight: var(--font-bold);
}

/* -================================= MOBILE NAVIGATION CSS ================================- */
@media screen and (max-width: 1023px){

    .header{
        padding: 1rem 0;
    }

    .navigation{
        max-width: 80%;
    }

    .nav-logo img{
        width: 192px;
    }

    .nav-list{
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        background-color: var(--body-color);
        padding: 10rem 2rem;
        right: -100%;
        top: 0;
        transition: right .5s;
        width: 100%;
        border-radius: var(--border-radius);
    }

    .nav-toggle-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        height: 32px;
        width: 32px;
        display: grid;
        place-items: center;
        transition: .35s;
        z-index: var(--z-fixed);
    }

    .nav-toggle-btn i{
        font-size: var(--icon-size);
    }

}

/* -================================= DESKTOP NAVIGATION CSS ================================- */
@media screen and (min-width: 1023px){

    .buttons-container{
        flex-direction: row;
    }

    .header{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid var(--body-color);
    }

    .nav-list-item .active-link{
        color: var(--accent-color);
        font-weight: var(--font-bold);
    }

    .navigation{
        padding: 0;
        width: 90%;
    }

    .nav-logo img{
        width: 200px;
    }

    .nav-toggle-btn{
        display: none;
    }

    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list{
        flex-direction: row;
        gap: var(--mar-2);
        align-items: center;
    }

    .nav-list-item a{
        font-size: 13.33px;
        font-weight: var(--font-regular);
        color: var(--text-color-w);
    }

    .nav-list-item:nth-child(8){
        width: 160px;
        height: 48px;
        margin-top: 0;
        margin-left: var(--mar-3);
        border-radius: var(--border-radius);
        background-color: var(--text-color-b);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        color: var(--text-color-w);

    }

}

@media screen and (min-width: 1440px){
    .nav-list-item a{
        font-size: 16px;
    }

    /* .main{
        transform: scale(1.3); 
        transform-origin: top center;
        overflow: hidden; 
    } */

}
/*-============================================================================================- */

/* HOME SECTION ===============================================================================- */
.home{
    color: var(--text-color-w);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-logo{
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 192px;
    z-index: 15;
}

.home-container{
    gap: var(--mar-4);
    padding-top: 4rem;
}

.home-title-container{
    gap: var(--mar-3);
}

.home-title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-regular);
}

.home-title span{
    -webkit-text-stroke: 2px var(--text-color-w); /* Stroke color and width */
    color: transparent; /* No fill */
}

.home-description{
    font-weight: var(--font-light);
}

.home-info-container{
    display: flex;
    align-items: center;
    gap: var(--mar-2);
}

.home-info-container > li{
    display: flex;
    align-items: center;
    gap: var(--mar-1);
}

.home-info-description{
    color: var(--text-color-w);
}

.home-info-item i{
    color: var(--text-color-w);
    font-size: var(--icon-size);
}

.home-buttons-container{
    align-self: flex-end;
}

.home-button-outline{
    border: 2px solid var(--text-color-w);
    color: var(--text-color-w);
}

.home-button-fill{
    background-color: var(--accent-color);
    color: var(--text-color-b);
}
/*-============================================================================================- */

/* SERVICES SECTION ===============================================================================- */
.services-container{
    gap: var(--mar-1);
}

.services-subtitle{
    font-weight: var(--font-light);
    font-size: var(--normal-font-size);
}

.services-title{
    font-weight: var(--font-regular);
}

.services-list{
    gap: var(--mar-3);
    margin-top: var(--mar-3);
}

.services-list > li{
    height: 336px;
    width: 100%;
    max-width: 456px;
    border: 2px solid var(--text-color-b);
    border-radius: var(--border-radius);
    padding: var(--mar-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-image-container{
    height: 203px;
    position: relative;
}

.services-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.services-list-item-title{
    font-weight: var(--font-regular);
}

.services-buttons-container{
    margin-top: var(--mar-3);
    align-self: flex-end;
    align-items: flex-end;
}

.services-button-fill{
    width: 252px;
    background-color: var(--primary-color);
    color: var(--text-color-w);
}

.services-button-outline{
    border: 2px solid var(--text-color-b);
    color: var(--text-color-b);
}
/*-===========================================================================================- */

/* ABOUT SECTION =============================================================================- */
.about{
    color: var(--text-color-w);
}

.about-container{
    gap: var(--mar-5);
}

.about-info-container{
    gap: var(--mar-1);
}

.about-title,
.about-subtitle{
    font-weight: var(--font-regular);
}

.about-title{
    margin-bottom: var(--mar-1);
}

.about-info-list{
    gap: var(--mar-3);
    border-top: 2px solid var(--accent-color);
    padding-top: var(--mar-2);
}

.about-info-list > li{
    display: flex;
    flex-direction: column;
    gap: var(--mar-1);
}

.about-list-item-title{
    font-weight: var(--font-semi-bold);
}

.about-list-item-description{
    font-weight: var(--font-regular);
}
/*-===========================================================================================- */

/* PROJECTS SECTION ==========================================================================- */
.projects-container{
    gap: var(--mar-4);
}

.projects-info-container{
    gap: var(--mar-3);
}

.projects-button-fill{
    background-color: var(--primary-color);
    color: var(--text-color-w);
}

.projects-swiper-container{
    gap: var(--mar-4);
    overflow-x: hidden;

}

.projects-swiper > li{
    gap: var(--mar-3);
}

.project-image-container{
    position: relative;
    height: 326px;
    width: 100%;
}

.project-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.project-description-container{
    padding-left: var(--mar-3);
    border-left: 2px solid var(--primary-color);
}

.project-description{
    font-weight: var(--font-regular);
}

.project-nav-buttons-one{
    display: none;
    align-items: center;
    align-self: flex-end;
    gap: var(--mar-2);
}

.project-nav-buttons-two{
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: var(--mar-2);
}

.project-prev,
.project-next{
    height: 48px;
    width: 48px;
    border: 2px solid var(--text-color-b);
    border-radius: var(--border-radius);
}
/*-===========================================================================================- */

/* WHY CHOOSE US SECTION =====================================================================- */
.why-us{
    background-color: var(--text-color-b);
    color: var(--text-color-w);
    padding-top: 0;
}

.why-us-container{
    gap: var(--mar-4);
}

.why-us-video-container{
    position: relative;
    width: 100%;
    height: 320px;
}

.why-us-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.why-us-info-container{
    gap: var(--mar-1);
}

.section-logo{
    height: 48px;
    width: 68px;
}

.section-bar{
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: var(--body-color);
}
/*-===========================================================================================- */

/* REVIEWS SECTION ===========================================================================- */
.reviews-container{
    gap: var(--mar-5);
    align-items: center;
    overflow: hidden;
}

.transparent-box{
    height: 248px;
    width: 100%;
    content: '';
}

.reviews-swiper-container{
    position: relative;
    height: max-content;
    width: 100%;
    padding: 5rem 2rem;
    background-color: var(--body-color);
    color: var(--text-color-b);
    border-radius: var(--border-radius);
    gap: var(--mar-1);
}

.reviews-accent{
    color: var(--primary-color);
}

.reviews-list-item{
    height: 200px;
}

.client-review{
    font-weight: var(--font-medium);
    color: var(--text-color-b);
}

.reviews-buttons-container{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 160px;
    bottom: 0;
    right: 0;
    background-color: var(--text-color-b);
}

.reviews-buttons-container button{
    height: 48px;
    width: 48px;
    color: var(--accent-color);
}

.review-next i,
.review-prev i{
    font-size: var(--icon-size);
}
/*-===========================================================================================- */

/* CONTACT SECTION ===========================================================================- */
.contact{
    background-color: var(--primary-color);
    color: var(--text-color-w);
}

.contact-title{
    font-size: var(--h1-font-size);
}
/*-===========================================================================================- */

@media screen and (min-width: 700px){

    .services-list{
        gap: var(--mar-2);
        grid-template-columns: repeat(2, 1fr);
    }

    .services-buttons-container{
        align-self: flex-start;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px){

    .container{
        margin-right: auto;
        margin-left: auto;
    }

    .responsive-container{
        flex-direction: row;
        align-items: center;
    }

    .section-spacer{
        height: 128px;
        width: 100%;
        background-color: var(--body-color);
    }

    .home{
        height: 100vh;
    }

    .home-info-description{
        font-size: var(--mar-2);
    }

    .services-title,
    .services-subtitle{
        text-align: center;
    }

    .services-list{
        gap: var(--mar-2);
        grid-template-columns: repeat(3, 1fr);
    }

    .services-buttons-container{
        align-self: center;
    }

    .about-info-container{
        max-width: 550px;
    }

    .about-info-list{
        border-top: none;
        border-left: 2px solid var(--accent-color);
        padding-top: 0;
        padding-left: var(--mar-2);
    }

    .project-image-container{
        height: 390px;
    }

    .projects-info-container{
        max-width: 323px;
    }

    .projects-swiper-container{
        gap: 0;
    }

    .project-nav-buttons-one{
        display: flex;
        align-self: flex-start;
    }

    .project-nav-buttons-two{
        display: none;
    }

    .why-us{
        padding-bottom: 0;
    }

    .section-bar{
        height: 100%;
        width: 35%;
    }

    .why-us-container{
        gap: var(--mar-4);
    }

    .why-us-video-container{
        height: 436px;
    }

    .why-us-info-container{
        padding: 10rem 0 10rem 2rem;
    }
}